<tr *ngIf="playlist">
    <td>{{playlist.name}}</td>
    <!-- <td>{{playlist.description}}</td>
            <td>{{playlist.id}}</td> -->
    <td *ngIf="playlist.tracks && showTracks">
        <table>
            <tr>
                <th>Name</th>
                <th>Artist</th>
                <th>Album</th>
            </tr>
            <pmo-song *ngFor="let track of playlist.tracks" [song]="track"></pmo-song>
        </table>
    </td>
    <button (click)="toggleTracks()">Toggle tracks</button>
</tr>