<div class="playlist">
    <div class="playlist-content">
        <img (click)="openLightbox()" src="{{ playlist.image }}" alt="Playlist Image">
        <h3 class="playlist-title" title="{{playlist.name}}">{{ playlist.name }}</h3>
    </div>
    <button (click)="toggleTracks()">Toggle tracks</button>
    <br>
    <div *ngIf="playlist.tracks">
        <div class="row">
            <ng-container class="song-container" *ngFor="let track of playlist.tracks">
                <pmo-song 
                    [song]="track" 
                    [selectedTags]=[]
                    class="song" 
                    [style.display]="showTracks && trackHasFilteredGenre(track) ? 'block' : 'none'"
                    (tagSelected)="handleTagSelection($event)"
                ></pmo-song>
            </ng-container>
        </div>
    </div>
</div>