<td>{{ playlist.name.length > 50 ? playlist.name.slice(0, 50) + '...' : playlist.name }}</td>
<td>
    <button (click)="toggleTracks()">Toggle tracks</button>
</td>
<br>
<td *ngIf="playlist.tracks && showTracks">
    <table>
        <tr>
            <th>Name</th>
            <th>Artist</th>
            <th>Album</th>
        </tr>
        <ng-container *ngFor="let track of playlist.tracks">
            <tr>
                <pmo-song [song]="track"></pmo-song>
            </tr>
        </ng-container>
    </table>
</td>