.playlist {
    background-color: forestgreen;
    border: 1px solid black;
    margin: 10px;
    padding: 15px;

    .playlist-content {
        display: flex;

        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
            }
        }
    }    

    button {
        margin-top: 10px;
    }
}

.playlist-title {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 10px;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }
}