<div class="song" [style.display]="display ? 'flex' : 'none'">
    <div class="image-container">
        <img (click)="openLightbox()" src="{{ song.image }}" alt="Song Image" title="">
        <div class="dim-overlay"></div>
        <div class="song-info">
            <div class="song-title" title="{{song.name}}">{{ song.name }}</div>
            <div class="artist" title="{{song.artist}}">{{ song.artist }}</div>
            <div class="album" title="{{song.album}}">{{ song.album }}</div>
        </div>
    </div>
    <div class="tags" *ngFor="let genre of genres">
        <pmo-tag [name]="genre"></pmo-tag>
    </div>
</div>