<div class="song">
    <div class="image-container">
        <img (click)="openLightbox()" src="{{ song.album.images[0].url }}" alt="Song Image" title="">
        <div class="dim-overlay"></div>
        <div class="song-info">
            <div class="song-title" title="{{song.name}}"   >{{ song.name }}</div>
            <div class="artist" title="{{getArtists()}}">{{ getArtists() }}</div>
            <div class="album" title="{{song.album.name}}">{{ song.album.name }}</div>
        </div>
    </div>
    <div class="tags" *ngFor="let genre of song.genres">
        <pmo-tag [name]="genre" [selectedTags]="selectedTags" (tagSelected)="onTagSelected($event)"></pmo-tag>
    </div>
    <pmo-add-tag-button></pmo-add-tag-button>
</div>