.song {
    display: flex;
    padding: 10px;
    background-color: silver;
    border: 1px solid #ddd;
}

img {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
}

.song-info {
    display: flex;
    flex-direction: column; 
    margin-left: 15px; 
}

.song-title {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    font-weight: bold;
    width: 50ch;
}

.artist,
.album {
    color: dimgray;
    margin-top: 5px;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .song {
        padding: 5px;
    }
}
