// .lightbox {
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: 1000;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0,0,0,0.8);
//     display: none;
//     justify-content: center;
//     align-items: center;
// }

.lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}